{% extends "index.html" %}
{% block main %}
{%- if g_profile is defined %}
{% include "partials/profile.html" %}
{%- elif page.title %}
<h1 class="mb-16">{{ page.title }}</h1>
{%- elif section.title %}
<h1 class="mb-16">{{ section.title }}</h1>
{%- endif %}

{%- if page.content %}
<section>{{ page.content | safe }}</section>
{%- elif section.content %}
<section>{{ section.content | safe }}</section>
{%- endif %}

{%- if page.extra.section is defined %}
  {%- set section = get_section(path=page.extra.section) %}
{%- endif %}
{%- if section.pages is undefined and paginator.pages is undefined %}
  {{- throw(message="The archive page is missing the extra.section frontmatter variable!") }}
{%- endif %}

{% include "partials/page_list.html" %}
{% endblock main %}
